
{% block content %}
    <h2>Customers ({{ object_list.count }})</h2>
    <a href="{% url 'customer_add' %}">Add New Customer</a>
    <ul>
        {% for customer in object_list %}
            <li>
                {{ customer.company_name }}
                <a href="{% url 'customer_detail' customer.pk %}">Details</a>
                <a href="{% url 'customer_edit' customer.pk %}">Edit</a>
                <a href="{% url 'customer_delete' customer.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}